.modal {
	img {
		width: 150px;
	}

	a,
	p {
		padding: 0;
		font-weight: 300;
		color: $color-black-0;
	}

	.modal-cart-wrapper {
		max-width: 100%;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) !important;

		.modal-content {
			width: 1200px;

			.modal-header {
				align-items: center;
				border-bottom: none;
				.quantityNumber {
					input {
						width: 48px;
						text-align: center;
					}
					.valueNumber {
						padding: 0 5px;
						background: transparent;
						border: none;
					}
				}
				.removeProduct{
					border: none;
					background: transparent;
				}
			}
			.modal-body{
				.row{
					.col-6{
						textarea{
							padding: 10px;
							width: 80%;
							border-radius: 8px;
						}
						input{
							padding: 5px;
							width: 80%;
							border-radius: 8px;
						}
					}
				}
			}
		}
	}
}