.detail-product{
	.container-fluid{
		padding: 0 50px;
		.row{
			.col-12{
				img{
					width: 500px;
					margin: 0 auto;
					display: block;
				}
			}
			.col-9{
				img{
					width: 80px;
				}
				a{
					color: $color-black-0;
					font-size: 12px;
				}
				.chooseSize{
					width: 80px;
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid $color-black-0;
					select{
						width: 100%;
						border: none;
					}
				}
			}
			.col-3{
				.btn-default{
					line-height: 28px;
					padding: 0 17px;
					width: 100%;
					height: 45px;
				}
				.btn-white{
					background-color: $color-white-0;
					border: 1px solid $color-blue-0;
					a{
						color: $color-blue-0;
					}
				}
			}
		}
	}
}

.describeProduct{
	.describeContent{
		.container-fluid{
			padding: 0 50px;
			.row{
				.col-6{
					p{
						font-weight: 300;
						font-style: normal;
					}
					img{
						width: 480px;
						height: 600px;
						padding: 30px;
					}
				}
				.sizeGuide{
					a{
						display: block;
						color: $color-black-0;
						text-decoration: underline;
						font-size: 11px;
					}
				}
				.emailAdress{
					input{
						padding: 7px 10px;
						border: 1px solid $color-black-0;
						border-radius: 3px;
					}
					.btn-default{
						background-color: $color-white-0;
						border: 1px solid $color-black-0;
						border-radius: 3px;
					}
				}
			}
			.boxComment{
				form{
					textarea{
						width: 100%;
						padding: 10px;
						height: 150px;
						border-radius: 10px;
						outline: none;
						background-color: #ecf0f1;
					}
					button{
						float: right;
					}
					margin-bottom: 50px;
				}
			}
		}
	}
}