header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: $color-white-0;
	padding-bottom: 20px;

	.container-fluid {
		margin: 0;
		padding: 0;

		.freeShip {
			width: 100%;
			background-color: $color-blue-0;
			margin-bottom: 20px;

			marquee {
				color: $color-white-0;
				font-weight: 400;
				font-size: 13px;
				padding: 5px 0;
			}
		}

		nav {
			.nav-left {
				width: 50%;
				display: flex;
				align-items: center;

				img {
					max-width: 400px;
					height: 45px;
					padding-right: 20px;
				}

				.nav-shop {
					ul {
						list-style-type: none;

						li {
							display: inline-block;
							position: relative;

							a {
								color: $color-black-0;
								padding: 15px 15px;
								font-size: 14px;
								height: 50px;
								line-height: 50px;
								svg {
									display: inline-block;
									font-size: 10px;
								}
							}

							.dropdown-menu {
								display: block;
								position: absolute;
								border: none;
								transform: translateY(-50px);
								transition: all .6s;
								opacity: 0;

								a {
									display: block;
									padding: 15px 15px;
								}
							}

							&:hover .dropdown-menu {
								transform: translateY(0);
								opacity: 1;
							}
						}
					}
				}
			}

			.nav-right {
				width: 50%;

				ul {
					float: right;
					list-style-type: none;

					li {
						display: inline-block;

						a {
							color: $color-black-0;
							padding: 15px 10px;
							font-size: 14px;
						}
						.button-search{
							background-color: #fff;
							border: none;
							outline: none;
							a:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}

.modal{
	padding-right:0 !important;
	.modal-search{
		max-width: 100% !important; 
		margin: 0 !important;
		.modal-content{
			height: 100%;
			border-radius: 0;
			.modal-header{
				border-bottom: none;
				.search--textbox{
					width: 100%;
					margin: 0;
					padding: 0 55px 0 35px;
					border: 0;
					outline: 0;
					-webkit-box-shadow: none !important;
					box-shadow: none !important;
					background: transparent;
					height: 50px;
					line-height: 50px;
					font-size: 28px;
				}
			}
			.close{
				opacity: 1;
				font-size: 2.5rem;
				font-weight: normal;
				outline: none;
			}
		}
	}
}

.popup{
	.popup-container{
		background: #fffdf6;
		position: fixed;
		z-index: 5;
		left: 0;
		bottom: 0;
		color: $color-black-0;
		width: 100%;
		text-align: center;
		border: 1px solid $color-black-0;
		transform: translateY(0px);
		transition: all 1.5s;
		.popup-wrapper{
			min-height:200px;
			max-width: 800px;
			padding: 0 30px;
			display: flex;
			align-items: center;
			margin:0 auto;
			.popup-center{
				max-width: 450px;
				padding: 7.5px;
				.popup-newsletter-title{
					text-align: left;
					text-transform: none;
					font-size: 16px;
					p{
						font-size: 14px;
					}
				}
				.popup-newsletter-form{
					width: 100%;
					display: flex;
					align-items: center;
					.inputEmail{
						flex-grow: 3;
						background-color: $color-white-0;
						color: $color-black-0;
						border: 1px solid $color-black-0;
						height: 38px;
						line-height: 38px;
						margin-right: 10px;
						max-width: 240px;
						padding-left: 5px;
					}
					.inputEnter{
						flex-grow: 1;
						color: $color-black-0;
						border: 1px solid $color-black-0;
						line-height: 36px;
						height: 38px;
						padding: 0 15px;
						vertical-align: bottom;
						background: $color-white-0;
					}
				}
			}
		}
		.close-popup{
			position: absolute;
			top:15px;
			right: 15px;
			padding: 0;
			line-height: 1;
			border: none;
			outline: none;
		}
	}
}