.btn-default{
	background-color: $color-blue-0;
	padding: 8px 20px;
	border: none;
	outline: none;
	a{
		color: $color-white-0;
		font-size: 12px;
		transition: all .2s;
		&:hover{
			color: $color-black-0;
		}
	}
}

.button-search{
	background-color: #fff;
	border: none;
	outline: none;
}