@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.btn-default {
  background-color: #a9bed4;
  padding: 8px 20px;
  border: none;
  outline: none;
}

.btn-default a {
  color: #ffffff;
  font-size: 12px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-default a:hover {
  color: #000000;
}

.button-search {
  background-color: #fff;
  border: none;
  outline: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  padding-bottom: 20px;
}

header .container-fluid {
  margin: 0;
  padding: 0;
}

header .container-fluid .freeShip {
  width: 100%;
  background-color: #a9bed4;
  margin-bottom: 20px;
}

header .container-fluid .freeShip marquee {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  padding: 5px 0;
}

header .container-fluid nav .nav-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-fluid nav .nav-left img {
  max-width: 400px;
  height: 45px;
  padding-right: 20px;
}

header .container-fluid nav .nav-left .nav-shop ul {
  list-style-type: none;
}

header .container-fluid nav .nav-left .nav-shop ul li {
  display: inline-block;
  position: relative;
}

header .container-fluid nav .nav-left .nav-shop ul li a {
  color: #000000;
  padding: 15px 15px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

header .container-fluid nav .nav-left .nav-shop ul li a svg {
  display: inline-block;
  font-size: 10px;
}

header .container-fluid nav .nav-left .nav-shop ul li .dropdown-menu {
  display: block;
  position: absolute;
  border: none;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
}

header .container-fluid nav .nav-left .nav-shop ul li .dropdown-menu a {
  display: block;
  padding: 15px 15px;
}

header .container-fluid nav .nav-left .nav-shop ul li:hover .dropdown-menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

header .container-fluid nav .nav-right {
  width: 50%;
}

header .container-fluid nav .nav-right ul {
  float: right;
  list-style-type: none;
}

header .container-fluid nav .nav-right ul li {
  display: inline-block;
}

header .container-fluid nav .nav-right ul li a {
  color: #000000;
  padding: 15px 10px;
  font-size: 14px;
}

header .container-fluid nav .nav-right ul li .button-search {
  background-color: #fff;
  border: none;
  outline: none;
}

header .container-fluid nav .nav-right ul li .button-search a:hover {
  text-decoration: underline;
}

.modal {
  padding-right: 0 !important;
}

.modal .modal-search {
  max-width: 100% !important;
  margin: 0 !important;
}

.modal .modal-search .modal-content {
  height: 100%;
  border-radius: 0;
}

.modal .modal-search .modal-content .modal-header {
  border-bottom: none;
}

.modal .modal-search .modal-content .modal-header .search--textbox {
  width: 100%;
  margin: 0;
  padding: 0 55px 0 35px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
}

.modal .modal-search .modal-content .close {
  opacity: 1;
  font-size: 2.5rem;
  font-weight: normal;
  outline: none;
}

.popup .popup-container {
  background: #fffdf6;
  position: fixed;
  z-index: 5;
  left: 0;
  bottom: 0;
  color: #000000;
  width: 100%;
  text-align: center;
  border: 1px solid #000000;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.popup .popup-container .popup-wrapper {
  min-height: 200px;
  max-width: 800px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.popup .popup-container .popup-wrapper .popup-center {
  max-width: 450px;
  padding: 7.5px;
}

.popup .popup-container .popup-wrapper .popup-center .popup-newsletter-title {
  text-align: left;
  text-transform: none;
  font-size: 16px;
}

.popup .popup-container .popup-wrapper .popup-center .popup-newsletter-title p {
  font-size: 14px;
}

.popup .popup-container .popup-wrapper .popup-center .popup-newsletter-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .popup-container .popup-wrapper .popup-center .popup-newsletter-form .inputEmail {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  height: 38px;
  line-height: 38px;
  margin-right: 10px;
  max-width: 240px;
  padding-left: 5px;
}

.popup .popup-container .popup-wrapper .popup-center .popup-newsletter-form .inputEnter {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #000000;
  border: 1px solid #000000;
  line-height: 36px;
  height: 38px;
  padding: 0 15px;
  vertical-align: bottom;
  background: #ffffff;
}

.popup .popup-container .close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  line-height: 1;
  border: none;
  outline: none;
}

.banner {
  padding-top: 70px;
  padding-bottom: 140px;
}

.banner .container-fluid {
  padding: 0 20px;
}

.banner .container-fluid .row .col-6 img {
  width: 100%;
  height: 100%;
  display: block;
}

.Gday .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Gday .container .row .col-7 img {
  width: 100%;
  height: 100%;
  display: block;
}

.Gday .container .row .col-5 .gday-content {
  position: absolute;
  left: -100px;
  top: -150px;
  background-color: #ffffff;
  padding: 25px;
}

.Gday .container .Gday-top {
  padding-bottom: 70px;
}

.Gday .container .row .col-12 .subcrise {
  padding: 70px 0;
}

.Gday .container .row .col-12 .subcrise p {
  font-size: 13.5px;
}

.Gday .container .row .col-12 .subcrise .email input {
  padding: 6px 10px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.social {
  padding-bottom: 70px;
}

.social p {
  font-size: 10px;
}

.social .row {
  padding: 0 50px;
}

.social .row .col-3 {
  padding-left: 3px;
  padding-right: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social .row .col-3 img {
  width: 100%;
  height: 370px;
  display: block;
}

.social .row .col-3 .black-content {
  display: none;
}

.social .row .col-3 .black-content .black-hover {
  position: absolute;
  top: 0;
  background-color: #000;
  width: 98%;
  height: 100%;
  display: block;
  opacity: 0.5;
  z-index: 4;
}

.social .row .col-3 .black-content .icon-black-hover svg {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  font-size: 25px;
  z-index: 5;
}

.social .row .col-3:hover .black-content {
  display: block;
}

footer .container-fluid {
  opacity: 1;
  visibility: visible;
  padding: 0 50px;
}

footer .container-fluid .row .col-3 ul {
  list-style-type: none;
}

footer .container-fluid .row .col-3 ul li {
  display: block;
}

footer .container-fluid .row .col-3 ul li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 0;
  font-size: 11px;
}

.product {
  margin-bottom: 100px;
}

.product .container .row .col-md-4 {
  height: 100%;
}

.product .container .row .col-md-4 img {
  width: 100%;
  height: 400px;
  display: block;
}

.detail-product .container-fluid {
  padding: 0 50px;
}

.detail-product .container-fluid .row .col-12 img {
  width: 500px;
  margin: 0 auto;
  display: block;
}

.detail-product .container-fluid .row .col-9 img {
  width: 80px;
}

.detail-product .container-fluid .row .col-9 a {
  color: #000000;
  font-size: 12px;
}

.detail-product .container-fluid .row .col-9 .chooseSize {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #000000;
}

.detail-product .container-fluid .row .col-9 .chooseSize select {
  width: 100%;
  border: none;
}

.detail-product .container-fluid .row .col-3 .btn-default {
  line-height: 28px;
  padding: 0 17px;
  width: 100%;
  height: 45px;
}

.detail-product .container-fluid .row .col-3 .btn-white {
  background-color: #ffffff;
  border: 1px solid #a9bed4;
}

.detail-product .container-fluid .row .col-3 .btn-white a {
  color: #a9bed4;
}

.describeProduct .describeContent .container-fluid {
  padding: 0 50px;
}

.describeProduct .describeContent .container-fluid .row .col-6 p {
  font-weight: 300;
  font-style: normal;
}

.describeProduct .describeContent .container-fluid .row .col-6 img {
  width: 480px;
  height: 600px;
  padding: 30px;
}

.describeProduct .describeContent .container-fluid .row .sizeGuide a {
  display: block;
  color: #000000;
  text-decoration: underline;
  font-size: 11px;
}

.describeProduct .describeContent .container-fluid .row .emailAdress input {
  padding: 7px 10px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.describeProduct .describeContent .container-fluid .row .emailAdress .btn-default {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
}

.describeProduct .describeContent .container-fluid .boxComment form {
  margin-bottom: 50px;
}

.describeProduct .describeContent .container-fluid .boxComment form textarea {
  width: 100%;
  padding: 10px;
  height: 150px;
  border-radius: 10px;
  outline: none;
  background-color: #ecf0f1;
}

.describeProduct .describeContent .container-fluid .boxComment form button {
  float: right;
}

.modal img {
  width: 150px;
}

.modal a,
.modal p {
  padding: 0;
  font-weight: 300;
  color: #000000;
}

.modal .modal-cart-wrapper {
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}

.modal .modal-cart-wrapper .modal-content {
  width: 1200px;
}

.modal .modal-cart-wrapper .modal-content .modal-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: none;
}

.modal .modal-cart-wrapper .modal-content .modal-header .quantityNumber input {
  width: 48px;
  text-align: center;
}

.modal .modal-cart-wrapper .modal-content .modal-header .quantityNumber .valueNumber {
  padding: 0 5px;
  background: transparent;
  border: none;
}

.modal .modal-cart-wrapper .modal-content .modal-header .removeProduct {
  border: none;
  background: transparent;
}

.modal .modal-cart-wrapper .modal-content .modal-body .row .col-6 textarea {
  padding: 10px;
  width: 80%;
  border-radius: 8px;
}

.modal .modal-cart-wrapper .modal-content .modal-body .row .col-6 input {
  padding: 5px;
  width: 80%;
  border-radius: 8px;
}

.hang1 {
  width: 80%;
  margin: 0 auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hang1 .content-hinh {
  width: 22%;
}

.aboutUs .col-6 img {
  width: 100%;
  height: 100%;
  display: block;
}

.aboutUs .col-6 p {
  font-family: "Gill Sans", Helvetica, Arial, sans-serif !important;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3em;
  text-align: center;
  opacity: .8;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

h1 small {
  display: block;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 0 !important;
}

.sketch {
  position: relative;
  height: 400px;
  min-width: 400px;
  margin: 0;
  overflow: visible;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.bee-sketch {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.red {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png) no-repeat center center;
  opacity: 1;
  -webkit-animation: red 3s linear infinite, opacityRed 5s linear alternate infinite;
          animation: red 3s linear infinite, opacityRed 5s linear alternate infinite;
}

.blue {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png) no-repeat center center;
  opacity: 0;
  -webkit-animation: blue 3s linear infinite, opacityBlue 5s linear alternate infinite;
          animation: blue 3s linear infinite, opacityBlue 5s linear alternate infinite;
}

@media only screen and (min-width: 780px) {
  .site {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1em 3em 1em 0em;
  }
  h1 {
    text-align: right;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 2em;
    padding-left: 2em;
  }
  .sketch {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@-webkit-keyframes blue {
  0% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png);
  }
  9.09% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-2.png);
  }
  27.27% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-3.png);
  }
  36.36% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-4.png);
  }
  45.45% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-5.png);
  }
  54.54% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-6.png);
  }
  63.63% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-7.png);
  }
  72.72% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-8.png);
  }
  81.81% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-9.png);
  }
  100% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png);
  }
}

@keyframes blue {
  0% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png);
  }
  9.09% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-2.png);
  }
  27.27% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-3.png);
  }
  36.36% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-4.png);
  }
  45.45% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-5.png);
  }
  54.54% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-6.png);
  }
  63.63% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-7.png);
  }
  72.72% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-8.png);
  }
  81.81% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-9.png);
  }
  100% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png);
  }
}

@-webkit-keyframes red {
  0% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png);
  }
  9.09% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-2.png);
  }
  27.27% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-3.png);
  }
  36.36% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-4.png);
  }
  45.45% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-5.png);
  }
  54.54% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-6.png);
  }
  63.63% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-7.png);
  }
  72.72% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-8.png);
  }
  81.81% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-9.png);
  }
  100% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png);
  }
}

@keyframes red {
  0% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png);
  }
  9.09% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-2.png);
  }
  27.27% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-3.png);
  }
  36.36% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-4.png);
  }
  45.45% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-5.png);
  }
  54.54% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-6.png);
  }
  63.63% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-7.png);
  }
  72.72% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-8.png);
  }
  81.81% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-9.png);
  }
  100% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png);
  }
}

@-webkit-keyframes opacityBlue {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityBlue {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes opacityRed {
  from {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  to {
    opacity: .3;
  }
}

@keyframes opacityRed {
  from {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  to {
    opacity: .3;
  }
}

.modal .modal-content .modal-body .dataFinded .row {
  margin: 0 !important;
  width: 100%;
}

.modal .modal-content .modal-body .dataFinded .row .search-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
}

.modal .modal-content .modal-body .dataFinded .row .search-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
}

.modal .modal-content .modal-body .dataFinded .wrapperProductSearch .col-10 .searchProduct {
  width: calc(100% / 3);
  display: block;
}

.modal .modal-content .modal-body .dataFinded .wrapperProductSearch .col-10 .searchProduct img {
  width: 100%;
}

.modal .modal-content .modal-body .dataFinded .wrapperProductSearch .col-10 .searchProduct .caption p {
  text-align: center;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

.modal .modal-content .modal-body .dataFinded .wrapperProductSearch .col-2 .searchArticles {
  padding: 5px 15px;
}

.modal .modal-content .modal-body .dataFinded .wrapperProductSearch .col-2 .searchArticles a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
}

.modal .modal-content .modal-body .dataFinded .wrapperProductSearch .col-2 .searchArticles a:hover {
  text-decoration: underline;
}

.login {
  margin-bottom: 100px;
}

.login .row .col-12 {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.login .row .col-12 input {
  width: 100%;
  border: 1px solid #eaeaea;
  padding: 9px 15px;
}

.login .row .col-12 a {
  color: #000000;
}
/*# sourceMappingURL=main.css.map */